.Component {
  color: green;
}

& {
  color: green;
}

& > .Component {
  color: red;
}

.Wrapper > & {
  color: red;
}

& & {
  color: pink;
}

&.Other {
  color: pink;
}

& .WithAmpersand,
.Other,
.Component {
  color: orange;
}
